#containerPersonalArea{
    display: grid;
    place-content: center;
    text-align: center;
    padding-top: 2em; /*5em???*/
}

#titlePersonalArea{
    color: #EA6E99;
}

#dataUsersPersonalArea{
    padding: 2em 0;
    background-color: rgba(69, 98, 109, 0.863);
    border-radius: 0.5em;
    margin: 2em 0;
    list-style: none;
}

#imgDataPersonalArea{
    margin: 2em;
    border-radius: 0.5em;
}

#ulPersonalArea{
    list-style: none;
    text-align-last: justify;
    padding: 0 6.3em;
}

.liPersonalArea{
    color: #EA6E99;
    font-size: 1.2em;
    box-shadow: 0 9px 50px hsla(20, 67%, 75%, 0.31);
    background-color: hsla(20, 58%, 77%, 0.062);
}

.spanError {
    color: rgb(232 185 185);
}

@media (min-width: 630px) {
    #dataUsersPersonalArea{
        padding: 2em 5em;
    }
}
