*{
    color: black;
}

#containerTableUsers{
    display: grid;
    place-content: center;
    padding-top: 4em;
    /* overflow-x: auto; */
}

#titleUsers{
    text-align: center;
    background-color: rgb(43, 137, 180);
    padding: 0.3em;
}

#tableUsers{
    border-spacing: unset;
    border: solid 0.05em rgba(43, 137, 180, 0.753);
    font-size: 0.8em;
}

.thTableUsers{
    padding: 0.6em;
    border: solid 0.05em rgba(43, 137, 180, 0.753);
}

.tdTableUsers{
    padding: 1em 0.4em;
    border: solid 0.05em rgba(43, 137, 180, 0.753);
}

#tableUsers tr:nth-child(even){
    background-color: rgb(184, 213, 226);
}

#tableUsers tr:nth-child(odd){
    background-color: rgb(100, 171, 204);
}

.pagination{
    background-color: rgb(43, 137, 180);
    display: grid;
    place-content: center;
    padding-top: 1em;
    font-size: 0.8em;
}

@media (max-width: 629.99px) and (min-width: 500px) {
    #tableUsers{
        font-size: 0.9em;
    }
    
    .tdTableUsers{
        padding: 1em;
    }

    .pagination{
        font-size: 0.9em;
    }

}

@media (max-width: 829.99px) and (min-width: 630px) {
    #tableUsers{
        font-size: 0.95em;
    }
    
    .thTableUsers{
        padding: 1em 4.2em;
    }

    .pagination{
        font-size: 0.95em;
    }
    
}

@media (min-width: 830px) {
    #tableUsers{
        font-size: 0.95em;
    }
    
    .thTableUsers{
        padding: 1em 7em;
    }
    
    .pagination{
        font-size: 0.95em;
    }
    
}