<div id="containerNavbar">
  <div id="imgNavbar">
    <img src="../../../assets/images/ahs.PNG" alt="Iniciales Ainhoa">
  </div>
  <ul id="ulNavbar">
    <li class="liNavbar" routerLink="" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</li>
    <li class="liNavbar" routerLink="registro" routerLinkActive="active">Registro</li>
    <li class="liNavbar" routerLink="login" routerLinkActive="active">Login</li>
    <li class="liNavbar" routerLink="areapersonal" routerLinkActive="active">Area personal</li>
    <li class="liNavbar" routerLink="usuarios" routerLinkActive="active">Usuarios</li>
  </ul>
</div>




