/* * {
  background-color: rgb(0, 0, 0);
} */

#containerNavbar{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#imgNavbar img{
  width: 160px;
}

#ulNavbar {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.liNavbar{
  padding: 0.5em 1em;

}


@media (min-width: 636px) {
  #containerNavbar{
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
  }
}

.active{
  background-color: #EA6E99;
}



/* .wrapper ul li a:after{
    position: absolute;
    content: "";
    background: #fff;
     background: linear-gradient(#14ffe9, #ffeb3b, #ff00e0);
    background: linear-gradient(375deg, #1cc7d0, #2ede98);
    width: 104%;
    height: 110%;
    left: -2%;
    top: -5%; 
    border-radius: 50px;
    transform: scaleY(0);
    z-index: -1;
    animation: rotate 1.5s linear infinite;
    transition: transform 0.3s ease;
  }
  .wrapper ul li:hover:after{
    transform: scaleY(1);
  } */