<div class='footer'>
  <div class='socialMediaTitle'><h3>Redes sociales</h3></div>
  <ul class='socialMedia'>
    <li class='linkSocialMedia'><a href="https://github.com/AinhoaSalo" target="_blank" rel="noreferrer"><i class="fa-brands fa-github-alt fa-2xl"></i></a></li>
    <li class='linkSocialMedia'><a href="https://www.linkedin.com/in/ainhoa-hernandez-salo/" target="_blank" rel="noreferrer"><i class="fa-brands fa-linkedin fa-2xl"></i></a></li>
  </ul>
  <p class="pFooter">©2022 prueba técnica para Hiberus Tecnología</p>
</div>
