* {
    background: none;
    color: black;
}

#titleHome {
    display: flex;
    justify-content: center;
    padding: 0.2em;
    background-color: rgb(209, 182, 224);
}

#routerLinkHome {
    list-style: none;
    margin: 2em;
}

.liRouterLinkHome{
    cursor: pointer;
    background-color: rgba(110, 130, 173, 0.993);
    height: 6em;
    margin: 0.5em;
    padding: 1em;
    border-radius: 0.5em;
    display: grid;
    place-content: center;
}

@media (min-width: 600px) {
    #routerLinkHome {
        display: flex;
        flex-direction: row;
        justify-content: space-around;

    }
}