<div id="containerHome">
  <div id="allHome">
    <div id="titleHome">
      <h2>Híberus Tecnología</h2>
    </div>
    <div id="textHome">
      <p>
        Hola, soy Ainhoa Hdez. Saló y esta es mi prueba técnia. Estas son las
        tareas solicitadas:
      </p>
      <ul>
        <li>Login page</li>
        <li>Sing up page</li>
        <li>Logout page</li>
        <li>Users page</li>
      </ul>
      <p>Te invito a que te registres y puedas navegar por la web.</p>
    </div>
  </div>
</div>